<nav-bar></nav-bar>
<div class="container-fluid bg-light" style="width: 100%; min-height: 90vh">
  <div
    class="container-fluid table-responsive"
    style="padding-top: 100px; padding-bottom: 20px"
  >
    <router-outlet></router-outlet>
  </div>
</div>
<footer class="footer bg-light">
  <div class="container-fluid font-weight-bolder">
    <div class="content text-right m-auto text-primary">
      <h6 class="font-weight-bolder">Copyright © 2023 Medsarthi LLC</h6>
    </div>
  </div>
</footer>
