# Firebase secrets
#*.json
*service-account.json.json
*serviceAccount*.json

# Node
node_modules/
*/.env.production
*/.env.development
**/environment.prod.ts
**/environment.ts
# env
.env
firebase-debug.log
