<div class="card-body" [ngSwitch]="landing">
  <div *ngSwitchCase="'list'">
  <div *ngIf="loading else loaded" class="text-center">
    Fetching the users list...
  </div>
  <ng-template #loaded>
  <div>
  <label> Write the user's name or email you are looking for..</label>
  <input type="text" class="form-control" #userPrefix >
  <br>
  <button style="margin-right: 10px;" class="btn btn-primary btn-outline-primary btn-md text-center float-left" (click)="fetchSome(userPrefix.value)">
    Search
  </button>
  <!--<button class="btn btn-primary btn-outline-primary btn-md text-center float-right" (click)="fetchAll()">
    Show all users
  </button>-->
  </div>
  <div *ngIf='usersList.length'>
    <label class="text-center"> Change the role of existing allowed users.</label>
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">S.No</th>
          <th scope="col">User Email</th>
          <th scope="col">Name</th>
          <th scope="col">ROL</th>
          <th scope="col">Summary</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of usersList; index as i" >
            <td>{{i+1}}</td>
            <td>{{user.email}}</td>
            <td>{{user.displayName}}</td>
            <td><button class="btn btn-primary btn-outline-primary" (click)="takeMeToUserProfile(user)">
              See ROL
            </button></td>
            <td><button class="btn btn-primary btn-outline-primary" (click)="takeMeToUserProfile(user, 'summary')">
              See Summary
            </button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
  </ng-template>
  </div>
  <div class="card-body" *ngSwitchCase="'rankorder'">
    <div *ngIf="loading else loaded" class="text-center">
      Loading....
    </div>
    <ng-template #loaded>
      <div class="row font-weight-bolder">
        <div class="col">
          <button class="btn btn-block btn-success btn-outline-success mt-2 float-left card-footer"
          (click)="landing='list'" > <i class='ft-arrow-left'></i> Back To List </button>
        </div>
        <div class="col">
          <button class="btn btn-block btn-warning btn-outline-warning mt-2 float-left card-footer"
          (click)="exportRanksToExcel()" > <i class='ft-upload'></i> Export To Excel </button>
        </div>
      </div>
      <h4 class="text-center col-12 font-weight-bolder">Hospital Ranks</h4>
      <div class="table-responsive fluid">
        <table class="table table-striped table-hover table-bordered" id="rank-table">
        <thead class="thead-dark">
          <tr>
            <th>
              S.No.
            </th>
            <th>
              Hospital Name
            </th>
            <th>
              Rank
            </th>
            <th>
              Overall Score
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let interview of rankedInterviews; index as i">
            <td>
              {{i+1}}
            </td>  
            <td>
              {{interview.hospital.HName}}
            </td>
            <td>
              {{i+1}}
            </td>
            <td>
              {{interview.OverallScore}}
            </td>
          </tr>
        </tbody>
        </table>
      </div>
    </ng-template>
  </div>
  <div class="card-body" *ngSwitchCase="'summary'">
    <div *ngIf="loading else loaded" class="text-center">
      Loading....
    </div>
    <ng-template #loaded>
      <div class="row font-weight-bolder">
        <div class="col-sm-12 col-md-6">
          <button class="btn btn-block btn-success btn-outline-success mt-2 float-left card-footer"
          (click)="landing='list'" > <i class='ft-arrow-left'></i> Back To List </button>
        </div>
        <div class="col">
          <button class="btn btn-block btn-warning btn-outline-warning mt-2 float-left card-footer"
          (click)="exportSummaryToExcel()" > <i class='ft-upload'></i> Export To Excel </button>
        </div>
      </div>
      <h4 class="text-center col-12 font-weight-bolder">Summary</h4>
      <div class="table-responsive fluid">
        <table class="table table-striped table-hover table-bordered" id="summary-table" >
        <thead class="thead-dark">
          <tr>
            <th>
              Factor Name
            </th>
            <th>
              Weight
            </th>
            <th>
              Reason for the weight
            </th>
            <ng-template ngFor let-interview [ngForOf]="rankedInterviews">
              <th>
                {{interview.hospital.HName}}
              </th>
              <th>
                Reason
              </th>
            </ng-template>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let factor of dataObject.factors; index as i">
            <td>
              {{factor.AttrName}}
            </td>  
            <td>
              {{factor.Value}}
            </td>
            <td>
              {{factor.Reason}}
            </td>
            <ng-template ngFor let-interview [ngForOf]="rankedInterviews">
              <td>
                {{interview.scoreDoc.Scores[factor.AttrId].Score}}
              </td>
              <td>
                {{interview.scoreDoc.Scores[factor.AttrId].Reason}}
              </td>
            </ng-template>
          </tr>
          <tr *ngFor="let factor of dataObject.userFactors; index as i">
            <td>
              {{factor.AttrName}}
            </td>  
            <td>
              {{factor.Value}}
            </td>
            <td>
              {{factor.Reason}}
            </td>
            <ng-template ngFor let-interview [ngForOf]="rankedInterviews">
              <td>
                {{interview.scoreDoc.Scores[factor.AttrId] ? interview.scoreDoc.Scores[factor.AttrId].Score : ""}}
              </td>
              <td>
                {{interview.scoreDoc.Scores[factor.AttrId] ? interview.scoreDoc.Scores[factor.AttrId].Reason : ""}}
              </td>
            </ng-template>
          </tr>
          <tr class="text-center font-weight-bold">
            <td colspan="3">
              Overall Score
            </td>
            <ng-template ngFor let-interview [ngForOf]="rankedInterviews">
              <td colspan="2">
                {{interview.OverallScore}}
              </td>
            </ng-template>
          </tr>
        </tbody>
        </table>
      </div>
    </ng-template>
  </div>
</div>