<!-- rotation-details.component.html -->
 <style>
  .image-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(160px,1fr));
  gap: 10px;
  margin-top: 10px;
}

.gallery-thumb {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s;
}

.gallery-thumb:hover {
  transform: scale(1.05);
}

/* Viewer */

.image-viewer-overlay{
  position: fixed;
  inset:0;
  background: rgba(0,0,0,0.9);
  display:flex;
  align-items:center;
  justify-content:center;
  z-index:9999;
}

.viewer-image{
  max-width:90%;
}

.viewer-close{
  position:absolute;
  top:20px;
  right:30px;
  font-size:28px;
  background:none;
  color:white;
  border:none;
  cursor:pointer;
}

.viewer-prev,
.viewer-next{
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  font-size:40px;
  background:none;
  color:white;
  border:none;
  cursor:pointer;
}
.textwhite
{
  color:white !important;
}
.viewer-prev{ left:20px; }
.viewer-next{ right:20px; }
 </style>
<div class="rotation-wrapper" [class.loading]="loading">

  <!-- MAIN VIEW (Details) -->
  <ng-container *ngIf="Viewtype !== 'detailsonly'">
    <div class="rotation-availability" *ngIf="selectedHospital">
      <mat-card class="rotation-card mat-elevation-z4">

        <!-- Header -->
        <mat-card-header class="card-header">
          <div class="header-left">
            <h2 class="hospital-title">{{ selectedHospital?.title }}</h2>
            
          </div>
        </mat-card-header>

        <mat-divider></mat-divider>

        <mat-card-content class="card-content">
          <!-- Hospital Info -->
          <section class="section">
            <h3 class="section-title">Accomodation Information</h3>
            <div class="info-grid info-grid-2">
              <div class="info-item"><strong>City:</strong> {{ selectedHospital.city }}</div>
              <div class="info-item"><strong>State:</strong> {{ selectedHospital.state }}</div>
              <div class="info-item"><strong>ZIP Code:</strong> {{ selectedHospital.zipCode }}</div>
              <div class="info-item"><strong>Minimum Length Of Stay(In Days):</strong> {{ selectedHospital.minStay }}</div>
              <div class="info-item"><strong>Maximum # Of Guests Allowed:</strong> {{ selectedHospital.guests }}</div>
              <div class="info-item"><strong># Of Bed Rooms:</strong> {{ selectedHospital.bedrooms }}</div>
              <div class="info-item"><strong>Rotation Setting:</strong> {{ selectedHospital.rotation_setting }}</div>
              <div class="info-item"><strong>Affiliations:</strong> {{ selectedHospital.affiliations }}</div>
              <div class="info-item"><strong>Rent/Month:</strong> ${{ selectedHospital.rent }} 
                <div *ngIf="hasDiscount=='yes' && discountValue && isDiscountActive(discountTo)" class="info-item" style="color: blue;font-weight: 400;"><strong>Current Discounts/Offers:</strong> <span *ngIf="discountType!='percentage'">$</span>{{ discountValue }}<span *ngIf="discountType=='percentage'">%</span> off for {{discountFrom}} To {{discountTo}}</div> 
                <div *ngIf="selectedHospital.offers && hasDiscount!='yes' && !discountValue" class="info-item" style="color: blue;font-weight: 400;"><strong>Current Discounts/Offers:</strong> {{ selectedHospital.offers }}</div>
              </div>
            </div>
          </section>

<mat-divider></mat-divider>
          <mat-divider></mat-divider>
          <section class="section" *ngIf="selectedHospital?.images?.length">
            
  <h3 class="section-title">Accommodation Photos</h3>

  <div class="image-gallery">
    <img
      *ngFor="let img of selectedHospital.images; let i=index"
      [src]="img"
      class="gallery-thumb"
      (click)="openImageViewer(i)"
    />
  </div>
</section>
          <mat-divider></mat-divider>
          <mat-divider></mat-divider>

          <!-- Additional Details -->
          <section class="section pt-2">
            <h3 class="section-title">Additional Details</h3>
            <div class="info-grid info-grid-2" *ngIf="selectedHospital?.FeaturesArray?.length">

  <div class="info-item"
       *ngFor="let feature of selectedHospital.FeaturesArray">

    <strong>{{ feature.title }}: </strong>
     <label [innerHTML]="feature.contentHtml"></label>

  </div>

</div>



   
          </section>

          <mat-divider></mat-divider>

          <!-- Calendar + Booking -->
          <section class="section calendar-booking">
            <div class="calendar-box">
              <h3 class="section-title">Calendar Select Booking Date</h3>
              <div class="calendar-wrapper">
                <full-calendar
                  #calendar
                  [plugins]="calendarPlugins"
                  [defaultView]="defaultView"
                  [editable]="editable"
                  [selectable]="selectable"
                  [events]="calendarEvents"
                  [validRange]="validRange"
                  (dateClick)="handleDateClick($event)"
                  (eventClick)="handleDateClick($event,'event')" 
                  (datesRender)="handleMonthClick($event)"
                  style="min-height: 300px; display: block;"
                  >
                </full-calendar>

                <!-- Tooltip -->
                <div
                  *ngIf="tooltipVisible"
                  class="custom-tooltip"
                  [style.left.px]="tooltipX"
                  [style.top.px]="tooltipY"
                  [innerHTML]="tooltipContent">
                </div>
              </div>
            </div>

            <div class="booking-box" *ngIf="!paymentscreen">
              <h3 class="section-title" >Booking Details</h3>
              <div class="booking-body">
                <div class="row" *ngIf="BookingSelectedDate">
                  <div class="label">Your Selected Date:</div>
                  <div class="value">{{ BookingSelectedDate }}</div>
                </div>

                <div class="row" *ngIf="getNearestDates?.exactmatch === 'no' && !getNearestDates?.nearestdates?.length">
                  <div class="label">But Is Not Available For The Month:</div>
                  <div class="value">{{ BookingSelectedDate | date:'MMMM yyyy' }}</div>
                </div>

                <div class="row" *ngIf="getNearestDates?.exactmatch === 'no' && getNearestDates?.nearestdates?.length">
                  <div class="label">Congratulations! You Can Start</div>
                  <div class="value" *ngIf="getNearestDates?.nearestdates?.length === 2">
                    Either On {{ getNearestDates.nearestdates[0] }} OR {{ getNearestDates.nearestdates[1] }}
                  </div>
                  <div class="value" *ngIf="getNearestDates?.nearestdates?.length === 1">
                    On {{ getNearestDates.nearestdates[0] }}
                  </div>
                </div>

                <div class="row" *ngIf="seatsAvailableNow !== undefined && BookingSelectedDate">
                  <div class="label">Availability Status:</div>
                  <div class="value">{{ ((seatsAvailableNow && getNearestDates?.nearestdates?.length) || (seatsAvailableNow && getNearestDates?.exactmatch === 'yes') ) ? 'Available' : 'Not Available' }}</div>
                </div>
                <div class="row" *ngIf="!BookingSelectedDate">
                  <div class="label">Please Pick Date From Calender To Check Availability.</div>
                </div>
                <div *ngIf="seatsAvailableNow ">
                <div class="info-row highlightdis" *ngIf="discountAmount"><span>Congratulations! You are eligible for a discount on rotation fee 👇</span></div>
              <div class="info-row highlightdis" *ngIf="discountAmount"><span>Discount:</span><span>${{ discountAmount }}</span></div>
                  </div>
                <div id="bookingdetails" class="custom-message" [innerHTML]="CustomeMessage"></div>

                <!-- Terms + Actions -->
                <div *ngIf="seatsAvailableNow " class="terms-actions">
                  <label class="terms">
                    <input type="checkbox" [(ngModel)]="termsAccepted" />
                    I agree.
                  </label>

                  <div class="action-buttons">
                    <button class="btn primary" [disabled]="!termsAccepted" (click)="choosePaymentType()">Pay Application Fee</button>
                    <!--<button class="btn outline-success ml-2" (click)="openWhatsApp()">Write Query to Support</button>
                    <button class="btn outline-danger ml-2" (click)="openGmail()">Email Support</button>-->
                    <button class="btn outline-danger m-2" (click)="openGmail()"><img src="https://www.svgrepo.com/show/223047/gmail.svg" alt="Gmail" width="18" class="gmailicon"></button>
                    <button class="btn outline-success m-2" (click)="openWhatsApp()"> <i class="fa fa-whatsapp"></i></button>
                  </div>
                </div>
                <div *ngIf="!seatsAvailableNow" class="terms-actions">
                 

                  <div class="action-buttons">
                   
                    <button class="btn outline-danger m-2" (click)="openGmail()"><img src="https://www.svgrepo.com/show/223047/gmail.svg" alt="Gmail" width="18" class="gmailicon"></button>
                    <button class="btn outline-success m-2" (click)="openWhatsApp()"> <i class="fa fa-whatsapp"></i></button>
                  </div>
                </div>
              </div>
            </div>

          </section>

          <mat-divider></mat-divider>

          <!-- (optional) Request form commented out — keep available for future -->
        </mat-card-content>
      </mat-card>
    </div>
  </ng-container>
 <!-- TESTIMONIAL VIEW -->
  <ng-container *ngIf="Viewtype === 'detailsonly'">
    <div class="rotation-availability" *ngIf="selectedHospital">
      <mat-card class="rotation-card mat-elevation-z4">

        <!-- Header -->
        <mat-card-header class="card-header">
          <div class="header-left">
            <h2 class="hospital-title">{{ selectedHospital?.title }}</h2>
            
          </div>
        </mat-card-header>

        <mat-divider></mat-divider>

        <mat-card-content class="card-content">
          <!-- Hospital Info -->
          <section class="section">
            <h3 class="section-title">Accomodation Information</h3>
            <div class="info-grid info-grid-2">
              <div class="info-item"><strong>City:</strong> {{ selectedHospital.city }}</div>
              <div class="info-item"><strong>State:</strong> {{ selectedHospital.state }}</div>
              <div class="info-item"><strong>ZIP Code:</strong> {{ selectedHospital.zipCode }}</div>
              <div class="info-item"><strong>Minimum Length Of Stay(In Days):</strong> {{ selectedHospital.minStay }}</div>
              <div class="info-item"><strong>Maximum # Of Guests Allowed:</strong> {{ selectedHospital.guests }}</div>
              <div class="info-item"><strong># Of Bed Rooms:</strong> {{ selectedHospital.bedrooms }}</div>
              <div class="info-item"><strong>Rotation Setting:</strong> {{ selectedHospital.rotation_setting }}</div>
              <div class="info-item"><strong>Affiliations:</strong> {{ selectedHospital.affiliations }}</div>
              <div class="info-item"><strong>Rent/Month:</strong> ${{ selectedHospital.rent }} 
                <div *ngIf="hasDiscount=='yes' && discountValue && isDiscountActive(discountTo)" class="info-item" style="color: blue;font-weight: 400;"><strong>Current Discounts/Offers:</strong> <span *ngIf="discountType!='percentage'">$</span>{{ discountValue }}<span *ngIf="discountType=='percentage'">%</span> off for {{discountFrom}} To {{discountTo}}</div> 
                <div *ngIf="selectedHospital.offers && hasDiscount!='yes' && !discountValue" class="info-item" style="color: blue;font-weight: 400;"><strong>Current Discounts/Offers:</strong> {{ selectedHospital.offers }}</div>
              </div>
            </div>
          </section>

<mat-divider></mat-divider>
          <mat-divider></mat-divider>
          <section class="section" *ngIf="selectedHospital?.images?.length">
            
  <h3 class="section-title">Accommodation Photos</h3>

  <div class="image-gallery">
    <img
      *ngFor="let img of selectedHospital.images; let i=index"
      [src]="img"
      class="gallery-thumb"
      (click)="openImageViewer(i)"
    />
  </div>
</section>
          <mat-divider></mat-divider>
          <mat-divider></mat-divider>

          <!-- Additional Details -->
          <section class="section pt-2">
            <h3 class="section-title">Additional Details</h3>
            <div class="info-grid info-grid-2" *ngIf="selectedHospital?.FeaturesArray?.length">

  <div class="info-item"
       *ngFor="let feature of selectedHospital.FeaturesArray">

    <strong>{{ feature.title }}: </strong>
     <label [innerHTML]="feature.contentHtml"></label>

  </div>

</div>



   
          </section>


          <mat-divider></mat-divider>

          <!-- (optional) Request form commented out — keep available for future -->
        </mat-card-content>
      </mat-card>
    </div>
  </ng-container>
  <div class="popup-overlay" *ngIf="!UserLoggedIn   && BookingSelectedDate && ShowModelPopup && !submitEmailPopup"  >
  <div class="popup-box">
    <h2>Enter Your Email</h2>
    <p>You are not logged in. Please enter your email to continue.</p>

    <input
      type="email"
      [(ngModel)]="enteredEmail"
      placeholder="Enter email"
      class="popup-input"
    />
    <div class="form-group">
              <label for="country">Select Country:</label>
              <ng-select
                [items]="countryPhoneOptions"
                bindLabel="label"
                name="phonecountry"
                [(ngModel)]="selectedPhoneCountry"
                (change)="onPhoneCountryChange($event)"
                [searchable]="true"
                placeholder="Choose a country"
              >
              <ng-template ng-label-tmp let-item="item">
                <div style="display: flex; align-items: center;">
                  <img
                    [src]="item.flag"
                    alt="{{ item.label }}"
                    style="width: 20px; height: 20px; margin-right: 5px"
                  />
                  {{ item.label }}
                </div>
              </ng-template>
                <ng-template ng-option-tmp let-item="item">
                  <img [src]="item.flag" width="20" style="margin-right: 5px" />
                  {{ item.label }}
                </ng-template>
              </ng-select>
            </div>
            
            <div class="form-group" style="margin-top: 15px">
              <label for="phone">Phone Number:</label>
              <input
                type="text"
                class="form-control"
                name="phonenumber"
                [(ngModel)]="phoneNumber"
                (ngModelChange)="updateFullPhoneNumber()"
                placeholder="Enter phone number"
  
              />
            </div>
            <div class="form-group" style="margin-top: 15px">
              <label for="phone">Stay Period(In Days):</label>
              <input
                type="number"
                class="form-control"
                name="duration"
                [(ngModel)]="duration"
                placeholder="Stay Days"
  
              />
            </div>

    <div class="popup-buttons">
      <button class="btn cancel-btn" (click)="closeEmailPopup()">Cancel</button>
      <button class="btn submit-btn" (click)="doEnquire(rotationCode)">Continue</button>
    </div>
  </div>
</div>
<div class="popup-overlay" *ngIf="UserLoggedIn   && BookingSelectedDate && ShowModelPopupDuration"  >
  <div class="popup-box">
    <h2></h2>
    <p>Enter Stay.</p>

            
            <div class="form-group" style="margin-top: 15px">
              <label for="phone">Stay Period(In Days):</label>
              <input
                type="number"
                class="form-control"
                name="duration"
                [(ngModel)]="duration"
                placeholder="Stay Days"
  
              />
            </div>

    <div class="popup-buttons">
      <button class="btn cancel-btn" (click)="closeDurationPopup()">Cancel</button>
      <button class="btn submit-btn" (click)="doEnquire(rotationCode)">Enquire</button>
    </div>
  </div>
</div>
<div class="popup-overlay"
*ngIf="showSuccessPopup">

<div class="popup-box success-box">

<h2>Inquiry Received</h2>

<p>
Thank you. We have received your inquiry details.
</p>

<p>
Our team will check availability and respond
within <b>24 hours</b>.
</p>

<br>

<button
class="btn btn-success textwhite"
(click)="showSuccessPopup=false">
OK
</button>

</div>

</div>
<!-- Image Viewer -->
<div class="image-viewer-overlay" *ngIf="imageViewerOpen">
  
  <button class="viewer-close" (click)="closeImageViewer()">✕</button>

  <button class="viewer-prev" (click)="prevImage()">❮</button>

  <img
    [src]="selectedHospital.images[currentImageIndex]"
    class="viewer-image"
  />

  <button class="viewer-next" (click)="nextImage()">❯</button>

</div>
  <!-- LOADING OVERLAY -->
  <div *ngIf="loading" class="overlay">
    <div class="spinner"></div>
    <p class="loading-text">Please Wait...</p>
  </div>

</div>
