<style>
  .label-field {
  display: inline-block;
  padding: 4px 10px;
  background: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 4px;
  min-width: 80px;
  font-size: 13px;
}

.label-field.full {
  display: block;
  width: 100%;
  padding: 6px 10px;
}
</style>
<div id="contentToConvert">
  <div class="row text-left">
    <div class="display-4 m-4 p-2">Hello, {{ userData.displayName }}</div>
  </div>
  <div class="row">
    <div class="col-md-5 col-sm-11 h3 ml-4 p-auto font-weight-bolder">
      Enrolled Plan: {{ userPayments?.plan || "Will Update Soon" }}
    </div>
    <div class="col-md-5 col-sm-11 h3 ml-4 p-auto font-weight-bolder">
      Assigned Mentor: {{ userData?.mentor || "Will Update Soon" }}
    </div>
  </div>
  <div class="card m-4">
    <div [ngSwitch]="landing">
      <div class="card-body" *ngSwitchCase="'profile'">
        <div *ngIf="loading; else loaded" class="text-center">Loading....</div>
        <ng-template #loaded>
          <div class="row">
            <div class="col-sm-6 col-md-3 font-weight-bold text-primary">
              Your Referral Code : {{ userReferral?.code }}
              <br />
              Sarthi Coins : {{ userReferral?.points }}
            </div>
            <div class="col-sm-6 col-md-3 ml-auto">
              <button
                type="submit"
                class="btn btn-block btn-primary btn-outline-primary"
                name="submit"
                (click)="takeMeToNotes()"
              >
                <i class="fa fa-sticky-note"></i> Meeting Notes
              </button>
              <button
                type="submit"
                class="btn btn-block btn-primary btn-outline-primary"
                name="submit"
                (click)="takeMeToMatchPlan()"
              >
                <i class="fa fa-sticky-note"></i> Match Plan
              </button>
            </div>
            <div class="col-sm-6 col-md-3 ml-auto">
              <button
                type="submit"
                *ngIf="userData.Locked == '1' || userData.extraUsersData"
                class="btn btn-block btn-primary btn-outline-primary"
                name="submit"
                (click)="captureScreen()"
              >
                <i class="fa fa-file-pdf-o"></i> Download as PDF
              </button>
            </div>
          </div>
          <div class="p-1 pl-2">
            <form ngNativeValidate #form>
              <div class="card p-3 mb-3">
  <h5 class="text-primary font-weight-bold mb-3">Education</h5>

  <div class="row">
     <div class="col-md-6 mb-3">
  <label>Year of Graduation *</label>
  <div class="form-control bg-light">
    {{ formatDate(selectedUser?.GraduationDate) | date:'yyyy' || 'N/A' }}
  </div>
</div>
 <div class="col-md-6 mb-3">
  <label>Extension (if any)</label>
  <div class="form-control bg-light">
    {{ selectedUser?.GraduationExtendedMoreThan6Months || 'N/A'}}
  </div>
</div>
 <div class="col-md-6 mb-3">
  <label>Country of Medical School</label>
  <div class="form-control bg-light">
    {{ selectedUser?.CountryOfMedicalSchool?.label || 'N/A'}}
  </div>
</div>
<div class="col-md-6 mb-3">
  <label>Medical School</label>
  <div class="form-control bg-light">
    {{ selectedUser?.NameOfMedicalSchool?.label || 'N/A'}}
  </div>
</div>
<div
  class="col-md-6 mb-3"
  *ngIf="selectedUser?.NameOfMedicalSchool?.value === 'Others'"
>
  <label>Enter School Name</label>
  <div class="form-control bg-light">
    {{ selectedUser?.NameOfMedicalSchoolOthers || 'N/A' }}
  </div>
</div>
<div class="col-md-6 mb-3">
  <label>Are you a repeat applicant for residency?</label>
  <div class="form-control bg-light">
    {{ selectedUser?.ProfileRepeating || 'N/A'}}
  </div>
</div>

<div class="col-md-6 mb-3">
  <label>Are you a repeat applicant for residency?</label>
  <div class="form-control bg-light">
    {{ selectedUser?.ProfileRepeating || 'N/A'}}
  </div>
</div>
</div>
    </div>
    <div class="card p-3 mb-3">
      <div class="row w-100">
  <div class="card p-3 mb-3 w-100">
    <h5 class="text-primary font-weight-bold mb-3">VISA Requirement</h5>
<div class="col-md-6 mb-3 w-100">
  <label>Visa?</label>
  <div class="label-field w-100">
    <ng-container *ngIf="selectedVisaValues?.length > 0; else noVisa">
        <ul class="mb-0 pl-3">
          <li *ngFor="let visa of selectedVisaValues">
            {{ visa === 'Data not available' ? 'Other' : visa }}
          </li>
        </ul>
      </ng-container>

      <ng-template #noVisa>
        N/A
      </ng-template>
  </div>
  </div>

  <div
    class="col-12 mt-2"
    *ngIf="selectedVisaValues?.includes('Others')"
  >
    <label>Other VISA Details</label>
    <div class="form-control bg-light">
      {{ selectedUser?.VisaRequirementOthers || 'N/A' }}
    </div>
  </div>
 



  </div>


</div>
<div class="row">
  <div class="card p-3 mb-3">
  <h5 class="text-primary font-weight-bold mb-3">USMLE Scores</h5>

  <div class="row">

    <!-- STEP 1 -->
    <div class="col-md-6 mb-3">
      <label>Step 1</label>
      <div class="form-control bg-light">
        {{ selectedUser?.ScoreData?.Step1Score?.Selected?.Name || 'N/A' }}
      </div>
    </div>

    <div class="col-md-6 mb-3"
      *ngIf="selectedUser?.ScoreData?.Step1Score?.Selected?.Name === 'Score'">
      <label>Step 1 Score</label>
      <div class="form-control bg-light">
        {{ selectedUser?.ScoreData?.Step1Score?.Selected?.Value || 'N/A' }}
      </div>
    </div>

    <div class="col-md-6 mb-3">
      <label>Any Step 1 Failure?</label>
      <div class="form-control bg-light">
        {{ selectedUser?.ScoreData?.Step1Attempts || 'N/A' }}
      </div>
    </div>

    <!-- STEP 2 -->
    <div class="col-md-6 mb-3">
      <label>Step 2</label>
      <div class="form-control bg-light">
        {{ selectedUser?.ScoreData?.Step2Score?.Selected?.Name || 'N/A' }}
      </div>
    </div>

    <div class="col-md-6 mb-3"
      *ngIf="selectedUser?.ScoreData?.Step2Score?.Selected?.Name === 'Score'">
      <label>Step 2 Score</label>
      <div class="form-control bg-light">
        {{ selectedUser?.ScoreData?.Step2Score?.Selected?.Value || 'N/A' }}
      </div>
    </div>

    <div class="col-md-6 mb-3">
      <label>Any Step 2 Failure?</label>
      <div class="form-control bg-light">
        {{ selectedUser?.ScoreData?.Step2Attempts || 'N/A' }}
      </div>
    </div>

    <!-- STEP 3 -->
    <div class="col-md-6 mb-3">
      <label>Step 3</label>
      <div class="form-control bg-light">
        {{ selectedUser?.ScoreData?.Step3Score?.Selected?.Name || 'N/A' }}
      </div>
    </div>

    <div class="col-md-6 mb-3"
      *ngIf="selectedUser?.ScoreData?.Step3Score?.Selected?.Name === 'Score'">
      <label>Step 3 Score</label>
      <div class="form-control bg-light">
        {{ selectedUser?.ScoreData?.Step3Score?.Selected?.Value || 'N/A' }}
      </div>
    </div>

    <div class="col-md-6 mb-3">
      <label>Any Step 3 Failure?</label>
      <div class="form-control bg-light">
        {{ selectedUser?.ScoreData?.Step3Attempts || 'N/A' }}
      </div>
    </div>

  </div>
</div>


</div>
<div class="row">
  <div class="card p-3 mb-3 w-100">
    <h5 class="text-primary font-weight-bold mb-3">ECFMG Certificate</h5>
    <div class="row">
      <div class="col-md-6 mb-3">
  <label>Date of ECFMG Certificate</label>
  <div class="form-control bg-light">
    {{ formatDate(selectedUser?.ECFMGCertificateDate) | date:'yyyy' || 'N/A' }}
    </div>
  </div>

    </div>

  </div>
</div>
<div class="row">
  <div class="card p-3 mb-3 w-100">
    <h5 class="text-primary font-weight-bold mb-3">Additional information</h5>
    <div class="row">
      <div class="col-md-6 mb-3">
  <label>Focus Speciality for Residency</label>
  <div class="form-control bg-light">
    {{ selectedUser?.focusSpeciality }}
    </div>
  </div>
  <div class="col-md-6 mb-3">
  <label>Do you have home country residency</label>
  <div class="form-control bg-light">
    {{ selectedUser?.HomeCountryResidencyOption }}
    </div>
  </div>
  <div *ngIf="selectedUser?.HomeCountryResidencyOption && selectedUser?.HomeCountryResidencyOption == 'yes'">
   <div class="col-md-6 mb-3"
      >
      <label>Completion Year</label>
      <div class="form-control bg-light">
        {{ formatDate(selectedUser?.homeCompletionYear) | date:'yyyy' || 'N/A' }}
      </div>
    </div>
    <div class="col-md-6 mb-3"
      >
      <label>Home Country Residency Speciality</label>
      <div class="form-control bg-light">
        {{ selectedUser?.HomeCountrySpecility }}
      </div>
    </div>
    <div class="col-md-6 mb-3"
      >
      <label>Other comments</label>
      <div class="form-control bg-light">
        {{ selectedUser?.HomeCountrySpecilityAdditionalDetails }}
      </div>
    </div>
<div class="col-md-6 mb-3"
      >
      <label>If you are applying to more than one speciality or undecided,
                please explain</label>
      <div class="form-control bg-light">
        {{ selectedUser?.undecidedSpecialities }}
      </div>
    </div>
  <div class="col-md-6 mb-3"
      >
      <label>Do you have a US Masters (MS) Degree</label>
      <div class="form-control bg-light">
        {{ selectedUser?.DoYouHaveMasters }}
      </div>
    </div>
    <div class="col-md-6 mb-3"
      >
      <label>Other comments</label>
      <div class="form-control bg-light">
        {{ selectedUser?.HomeCountrySpecilityAdditionalDetails }}
      </div>
    </div>
    <div *ngIf="selectedUser?.MastersDegree && selectedUser?.DoYouHaveMasters == 'yes'">
      <div class="col-md-6 mb-3"
      >
      <label>Name of the degree</label>
      <div class="form-control bg-light">
        {{ selectedUser?.mastersDegreeName }}
      </div>
    </div>
    </div>






  </div>

    </div>

  </div>
</div>
<div class="row">
  <div class="card p-3 mb-3 w-100">
    <h5 class="text-primary font-weight-bold mb-3">Experience</h5>
    <div class="row">
      <div *ngIf="workExperiences.length === 0">
    No Work Experience Found
  </div>

  <div *ngFor="let exp of workExperiences; let i = index"
       class="border rounded p-3 mb-2">

    <div class="mb-2">
      <b>Experience {{ i + 1 }}</b>
    </div>

    <div class="row">

      <div class="col-md-6">
        <b>Speciality:</b>
        {{ exp.WorkexperienSpecility || 'N/A' }}
      </div>

      <div class="col-md-6">
        <b>Hospital:</b>
        {{ exp.Workexperienclinicname || 'N/A' }}
      </div>

      <div class="col-md-6 mt-2">
        <b>City:</b>
        {{ exp.Workexperiencecity || 'N/A' }}
      </div>

      <div class="col-md-6 mt-2">
        <b>State:</b>
        {{ exp.WorkexperienceState || 'N/A' }}
      </div>

      <div class="col-md-12 mt-2">
        <b>Date Range:</b>
        {{ formatDate(exp.WorkexperienceDateRange?.from) }}
        -
        {{ formatDate(exp.WorkexperienceDateRange?.to) }}
      </div>

    </div>

  </div>
      </div>
    </div>
  </div>
  <div class="row">
  <div class="card p-3 mb-3 w-100">
    <h5 class="text-primary font-weight-bold mb-3">Research</h5>
    <div class="row">
      <div *ngIf="researchData.length === 0">
    No Research Found
  </div>

  <div *ngFor="let res of researchData; let i = index"
       class="border rounded p-3 mb-2">

    <div class="mb-2">
      <b>Research {{ i + 1 }}</b>
    </div>

    <div class="row">

      <div class="col-md-6">
        <b>Speciality:</b>
        {{ res.ResearchSpecility || 'N/A' }}
      </div>

      <div class="col-md-6">
        <b>Mentor:</b>
        {{ res.ResearchMentorsname || 'N/A' }}
      </div>

      <div class="col-md-6 mt-2">
        <b>Hospital:</b>
        {{ res.Researchclinicname || 'N/A' }}
      </div>

      <div class="col-md-6 mt-2">
        <b>City:</b>
        {{ res.Researchcity || 'N/A' }}
      </div>

      <div class="col-md-6 mt-2">
        <b>State:</b>
        {{ res.ResearchState || 'N/A' }}
      </div>

      <div class="col-md-6 mt-2">
        <b>Country:</b>
        {{ res.ResearchCountry?.label || 'N/A' }}
      </div>

      <div class="col-md-12 mt-2">
        <b>Publication Status:</b>
        {{ res.ResearchPublicationStatus || 'N/A' }}
      </div>

      <div class="col-md-12 mt-2">
        <b>Date Range:</b>
        {{ formatDate(res.ResearchDateRange?.from) }}
        -
        {{ formatDate(res.ResearchDateRange?.to) }}
      </div>

    </div>

  </div>
      </div>
    </div>
    </div>
    <div class="row">
  <div class="card p-3 mb-3 w-100">
    <h5 class="text-primary font-weight-bold mb-3">USCE</h5>
    <div class="row">
      <div *ngIf="usceData.length === 0">
    No USCE Found
  </div>

  <div *ngFor="let usce of usceData; let i = index"
       class="border rounded p-3 mb-2">

    <div class="mb-2">
      <b>USCE {{ i + 1 }}</b>
    </div>

    <div class="row">

      <div class="col-md-6">
        <b>Speciality:</b>
        {{ usce.ResearchSpecility || 'N/A' }}
      </div>

      <div class="col-md-6">
        <b>Preceptor:</b>
        {{ usce.NameOfPreceptor || 'N/A' }}
      </div>

      <div class="col-md-6 mt-2">
        <b>Clinic:</b>
        {{ usce.USCEclinicname || 'N/A' }}
      </div>

      <div class="col-md-6 mt-2">
        <b>City:</b>
        {{ usce.USCEcity || 'N/A' }}
      </div>

      <div class="col-md-6 mt-2">
        <b>State:</b>
        {{ usce.USCEState || 'N/A' }}
      </div>

      <div class="col-md-6 mt-2">
        <b>Type:</b>
        {{ usce.HandsOn || 'N/A' }}
      </div>

      <div class="col-md-6 mt-2">
        <b>Status:</b>
        {{ usce.Status || 'N/A' }}
      </div>

      <div class="col-md-6 mt-2">
        <b>Category:</b>
        {{ usce.uscenotesdrop || 'N/A' }}
      </div>

      <div class="col-md-12 mt-2">
        <b>Date Range:</b>
        {{ formatDate(usce.USCEDateRange?.from) }}
        -
        {{ formatDate(usce.USCEDateRange?.to) }}
      </div>

      <div class="col-md-12 mt-2">
        <b>Notes:</b>
        {{ usce.FreeFlowNote || 'N/A' }}
      </div>

    </div>

  </div>
      </div>
      </div>
      </div>


  

    </div>
            </form>
            <div *ngIf="userPayments?.email" class="bg-secondary p-2">
              <div class="font-weight-bold h5 mb-1">Payments History</div>
              <div *ngIf="userPayments?.matchPayments?.length > 0" class="mb-1">
                <div class="font-weight-bold h6 mb-0">Match Plan Payments</div>
                <div
                  *ngFor="
                    let payment of userPayments?.matchPayments;
                    index as i
                  "
                >
                  An installment of amount ${{ payment.amount }}
                  {{
                    payment.received == "Yes"
                      ? " has been paid on "
                      : " is due on "
                  }}
                  {{ payment.date }} via {{ payment.mode }}
                </div>
              </div>

              <div
                *ngIf="userPayments?.researchPayments?.length > 0"
                class="mb-1"
              >
                <div class="font-weight-bold h6 mb-0">Research Payments</div>
                <div
                  *ngFor="
                    let payment of userPayments?.researchPayments;
                    index as i
                  "
                >
                  An installment of amount ${{ payment.amount }}
                  {{
                    payment.received == "Yes"
                      ? " has been paid on "
                      : " is due on "
                  }}
                  {{ payment.date }} of {{ payment.type }} via
                  {{ payment.mode }}
                </div>
              </div>
              <div *ngIf="userPayments?.rotations?.length > 0" class="mb-1">
                <div class="font-weight-bold h6 mb-0">Rotations Payments</div>
                <div
                  *ngFor="let payment of userPayments?.rotations; index as i"
                >
                  An amount ${{ payment.amount }}
                  {{
                    payment.received == "Yes"
                      ? " has been paid on "
                      : " is due on "
                  }}
                  {{ payment.date }} for {{ payment.location }} via
                  {{ payment.mode }}
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
      <div class="card-body" *ngSwitchCase="'plan'">
        <div *ngIf="loading; else loaded" class="text-center">Loading....</div>
        <ng-template #loaded>
          <div class="row">
            <div class="col-sm-6 col-md-3 ml-auto">
              <button
                type="submit"
                *ngIf="userData.Locked == '1' || userData.extraUsersData"
                class="btn btn-block btn-primary btn-outline-primary mt-3"
                name="submit"
                (click)="takeMeToAllPlan()"
              >
                <i class="fa fa-sticky-note"></i> See All
              </button>
            </div>
            <div class="col-sm-6 col-md-3">
              <button
                type="submit"
                *ngIf="userData.Locked == '1' || userData.extraUsersData"
                class="btn btn-block btn-primary btn-outline-primary mt-3"
                name="submit"
                (click)="landing = 'profile'"
              >
                <i class="fa fa-user"></i> My Profile
              </button>
            </div>
          </div>
          <div class="p-1 pl-2">
            <form ngNativeValidate #form>
              <div class="font-weight-bold h4 text-primary mt-2">
                Match Plan
              </div>
              <div class="mt-2">
                <label> Year </label>
                <select
                  (change)="changeMatchPlan()"
                  class="form-control"
                  name="matchSelectedYear"
                  [(ngModel)]="matchSelectedYear"
                >
                  <option selected value="">Select a year</option>
                  <option [value]="year" *ngFor="let year of years">
                    {{ year }}
                  </option>
                </select>
              </div>
              <div class="mt-2" *ngIf="matchSelectedYear">
                <label> Month </label>
                <select
                  (change)="changeMatchPlan()"
                  class="form-control"
                  name="matchSelectedMonth"
                  [(ngModel)]="matchSelectedMonth"
                >
                  <option selected value="">Select a month</option>
                  <option [value]="month.value" *ngFor="let month of months">
                    {{ month.name }}
                  </option>
                </select>
              </div>
              <div class="mt-2" *ngIf="matchSelectedMonth">
                <label>
                  Your Plan
                  <span style="color: red">
                    (Hold down the Ctrl (windows) / Command (Mac) button to
                    select multiple options)</span
                  >
                </label>
                <select
                  class="form-control"
                  name="matchPlans[]"
                  [(ngModel)]="matchPlans"
                  multiple
                >
                  <option [value]="plan" *ngFor="let plan of plans">
                    {{ plan }}
                  </option>
                </select>
              </div>
              <div class="mt-2" *ngIf="matchSelectedMonth">
                <label> Other Notes </label>
                <textarea
                  autosize
                  type="text"
                  name="matchNotes"
                  [(ngModel)]="matchNotes"
                  class="form-control"
                  placeholder="Write meeting notes here.."
                >
                </textarea>
              </div>
              <button
                type="submit"
                class="btn btn-block btn-primary btn-outline-primary card-footer mt-3"
                name="submit"
                (click)="updateNotes()"
              >
                Save Notes
              </button>
            </form>
          </div>
        </ng-template>
      </div>
      <div class="card-body" *ngSwitchCase="'notes'">
        <div *ngIf="loading; else loaded" class="text-center">Loading....</div>
        <ng-template #loaded>
          <div class="row">
            <div class="col-sm-6 col-md-3 ml-auto">
              <button
                type="submit"
                *ngIf="userData.Locked == '1' || userData.extraUsersData"
                class="btn btn-block btn-primary btn-outline-primary mt-3"
                name="submit"
                (click)="takeMeToAllNotes()"
              >
                <i class="fa fa-sticky-note"></i> See All
              </button>
            </div>
            <div class="col-sm-6 col-md-3">
              <button
                type="submit"
                *ngIf="userData.Locked == '1' || userData.extraUsersData"
                class="btn btn-block btn-primary btn-outline-primary mt-3"
                name="submit"
                (click)="landing = 'profile'"
              >
                <i class="fa fa-user"></i> My Profile
              </button>
            </div>
          </div>
          <div class="p-1 pl-2">
            <form ngNativeValidate #form>
              <div class="font-weight-bold h4 text-primary mt-2">
                Meeting Notes
              </div>
              <div class="mt-2">
                <label> Year </label>
                <select
                  (change)="changeMeetingNotes()"
                  class="form-control"
                  name="notesSelectedYear"
                  [(ngModel)]="notesSelectedYear"
                >
                  <option selected value="">Select a year</option>
                  <option [value]="year" *ngFor="let year of years">
                    {{ year }}
                  </option>
                </select>
              </div>
              <div class="mt-2" *ngIf="notesSelectedYear">
                <label> Month </label>
                <select
                  (change)="changeMeetingNotes()"
                  class="form-control"
                  name="notesSelectedMonth"
                  [(ngModel)]="notesSelectedMonth"
                >
                  <option selected value="">Select a month</option>
                  <option [value]="month.value" *ngFor="let month of months">
                    {{ month.name }}
                  </option>
                </select>
              </div>
              <div class="mt-2" *ngIf="notesSelectedMonth">
                <label> Meeting Notes </label>
                <textarea
                  autosize
                  type="text"
                  name="meetingNotes"
                  [(ngModel)]="meetingNotes"
                  class="form-control"
                  placeholder="Write meeting notes here.."
                >
                </textarea>
              </div>
              <button
                type="submit"
                class="btn btn-block btn-primary btn-outline-primary card-footer mt-3"
                name="submit"
                (click)="updateNotes()"
              >
                Save Notes
              </button>
            </form>
          </div>
        </ng-template>
      </div>
      <div class="card-body" *ngSwitchCase="'allnotes'">
        <div *ngIf="loading; else loaded" class="text-center">Loading....</div>
        <ng-template #loaded>
          <div class="row">
            <div class="col-sm-6 col-md-3 ml-auto">
              <button
                type="submit"
                *ngIf="userData.Locked == '1' || userData.extraUsersData"
                class="btn btn-block btn-primary btn-outline-primary mt-3"
                name="submit"
                (click)="takeMeToNotes()"
              >
                <i class="ft-arrow-left"></i> Back
              </button>
            </div>
            <div class="col-sm-6 col-md-3">
              <button
                type="submit"
                *ngIf="userData.Locked == '1' || userData.extraUsersData"
                class="btn btn-block btn-primary btn-outline-primary mt-3"
                name="submit"
                (click)="exportToExcel('Notes-List')"
              >
                <i class="ft-upload"></i> Export to Excel
              </button>
            </div>
            <div class="col-sm-6 col-md-3">
              <button
                type="submit"
                *ngIf="userData.Locked == '1' || userData.extraUsersData"
                class="btn btn-block btn-primary btn-outline-primary mt-3"
                name="submit"
                (click)="landing = 'profile'"
              >
                <i class="fa fa-user"></i> My Profile
              </button>
            </div>
          </div>
          <div class="p-1 pl-2">
            <table
              class="table table-striped table-hover text-left"
              id="Notes-List"
            >
              <thead>
                <tr>
                  <th>S.No.</th>
                  <th scope="col">Year</th>
                  <th scope="col">Month</th>
                  <th scope="col">Notes</th>
                </tr>
              </thead>
              <tbody>
                <ng-template
                  ngFor
                  let-matchPayment
                  [ngForOf]="userNotesArr"
                  let-ind="index"
                >
                  <tr *ngIf="matchPayment?.meetingNotes">
                    <td>{{ ind + 1 }}</td>
                    <td>{{ matchPayment?.year }}</td>
                    <td>{{ matchPayment?.month }}</td>
                    <td>{{ matchPayment?.meetingNotes }}</td>
                  </tr>
                </ng-template>
              </tbody>
            </table>
          </div>
        </ng-template>
      </div>
      <div class="card-body" *ngSwitchCase="'allplan'">
        <div *ngIf="loading; else loaded" class="text-center">Loading....</div>
        <ng-template #loaded>
          <div class="row">
            <div class="col-sm-6 col-md-3 ml-auto">
              <button
                type="submit"
                *ngIf="userData.Locked == '1' || userData.extraUsersData"
                class="btn btn-block btn-primary btn-outline-primary mt-3"
                name="submit"
                (click)="takeMeToMatchPlan()"
              >
                <i class="ft-arrow-left"></i> Back
              </button>
            </div>
            <div class="col-sm-6 col-md-3">
              <button
                type="submit"
                *ngIf="userData.Locked == '1' || userData.extraUsersData"
                class="btn btn-block btn-primary btn-outline-primary mt-3"
                name="submit"
                (click)="exportToExcel('Match-Plan-List')"
              >
                <i class="ft-upload"></i> Export to Excel
              </button>
            </div>
            <div class="col-sm-6 col-md-3">
              <button
                type="submit"
                *ngIf="userData.Locked == '1' || userData.extraUsersData"
                class="btn btn-block btn-primary btn-outline-primary mt-3"
                name="submit"
                (click)="landing = 'profile'"
              >
                <i class="fa fa-user"></i> My Profile
              </button>
            </div>
          </div>
          <div class="p-1 pl-2">
            <table
              class="table table-striped table-hover text-left"
              id="Match-Plan-List"
            >
              <thead>
                <tr>
                  <th>S.No.</th>
                  <th scope="col">Year</th>
                  <th scope="col">Month</th>
                  <th scope="col">Plan</th>
                </tr>
              </thead>
              <tbody>
                <ng-template
                  ngFor
                  let-matchPayment
                  [ngForOf]="userNotesArr"
                  let-ind="index"
                >
                  <tr *ngIf="matchPayment?.matchPlans?.length">
                    <td>{{ ind + 1 }}</td>
                    <td>{{ matchPayment?.year }}</td>
                    <td>{{ matchPayment?.month }}</td>
                    <td>{{ matchPayment?.matchPlans?.join(", ") }}</td>
                  </tr>
                  <tr *ngIf="matchPayment?.matchPlans?.length">
                    <td></td>
                    <td colspan="3">
                      <b>Notes:</b>{{ matchPayment?.matchNotes }}
                    </td>
                  </tr>
                </ng-template>
              </tbody>
            </table>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
